<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head", {title: 'PapaHoe || Board Builder'}) %>

<body>
    <%- include("../partials/header") %>

    <main class="en-construccion">
        <div class="col1">
            <h1>PÁGINA</h1>
            <h1>EN CONSTRUCCIÓN</h1>
        </div>
    </main>
    <!-- <main class="product-detail">
        // Main Container
        <div id="main-builder">
            <div id="content">
                <h1>Tabla de Surf: Nombre</h1>
                <p>Comprala ahora!</p>
                <button>Shop</button>
            </div>

            // An aside 
            // This is for holding the 3D object
            <div id="tabla">
                // 3D objsect
                // This inserts the 3D object inside the aside container
                <model-viewer src="assets/surf3.gltf" alt="Tabla de Surf" auto-rotate camera-controls ar
                    ios-src="assets/surf3.gltf">
                </model-viewer>
            </div>
        </div> -->
    </main>
    <%- include("../partials/footer") %>
</body>

</html>