<div class="shop-filters admin">
    <p>EN CONSTRUCCIÓN: Opciones User admin</p>
    <p> <a href="/admin/create"> <strong>Crear Producto </strong></a>|
        <a href="/admin/edit"> <strong>Editar Producto </strong></a> |
        <a href="/admin/delete"> <strong>Borrar Producto </strong></a>
    </p>
</div>