<footer>
    <div class="grid-menu-footer">
        <div class="social-footer">

            <form class="suscripcion-box">
                <label for="newsletter"></label>
                <input id="newsletter" name="newsletter" type="email" placeholder="Unite a la tribu">
                <a href="mailto:info@papahoe.com"><i class="fa-solid fa-envelope"></i></a>
                </button>
            </form>

            <div class="iconos-social-footer">
                <a href="https://www.instagram.com/papahoe/" target="_blank" class="instagram-footer"><i
                        class="fa-brands fa-instagram"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100085958085930" target="_blank"
                    class="facebook-footer"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="https://www.youtube.com/channel/UCSZy7dboa_o9X8itlpQx7yw/" target="_blank"
                    class="youtube-footer"><i class="fa-brands fa-youtube"></i></a>
                <a href="https://vimeo.com/357878601" target="_blank" class="vimeo-footer"><i
                        class="fa-brands fa-vimeo-v"></i></a>
            </div>
        </div>

        <ul class="navegacion-footer">
            <li>
                <h3>Ayuda</h3>
            </li>
            <li><a href="/tracker">CustomBoard Tracker</a></li>
            <li><a href="/volumeCalculator">Volume Calculator</a></li>
            <li><a href="/faqs">FAQ's</a></li>
            <li><a href="/devoluciones">Envíos y Devoluciones</a></li>
            <li><a href="/politica-cancelacion">Política de Privacidad</a></li>
        </ul>

        <ul class="navegacion-footer">
            <li>
                <h3>Papa Hoe</h3>
            </li>
            <li><a href="/product/all">Shop</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/about/#teamRiders">Team Riders</a></li>
            <li><a href="/contact">Contacto</a> </li>
        </ul>

        <ul class="info-footer">
            <li>
                <h3>Servicio al Cliente</h3>
            </li>
            <li><a href="mailto:info@papahoe.com">info@papahoe.com </a> </li>
            <li>ARG +54 11 4395 859<br>MEX +52 00 4395 859</li>
            <li>
                <h4>Surfboard Factory</h4>
                <p>Calle Cualca 27 <br>
                    Villa Gesell, Argentina</p>
            </li>
            <li>
                <h4>DF Showroom</h4>
                <p>San Tlatelolco 123 <br>
                    Colonia Roma, DF</p>
            </li>
        </ul>

        <div class="copyright">
            <img class="detalles-design" src="/images/brand/PapaHoe-ELEMENTS-LosPuntitos.png"
                alt="PapaHoe Brand elements">

            <img id="logo-footer" src="/images/brand/PapaHoe-logo-min-white.svg" alt="PapaHoe Logo">
            Copyright © 2022 Papa Hoe
        </div>
    </div>
</footer>