<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= typeof title != "undefined" ? title : "Papa Hoe" %></title>
    <link rel="icon" type="image/x-icon" href="/images/brand/PapaHoe-ICON-RosaSummer.png">


    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a99dce3628.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">

    
    <!--Imports a model-viewer JavaScript code -->
    <!--It helps to handle how the 3D Object would be displayed -->
    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
    <script nomodule src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js"></script>
</head>

