<!DOCTYPE html>
<html lang="en">
    <!-------------------------HEAD-------------------------->
    <%- include("../partials/head", {title: 'PapaHoe || About'}) %>

    <body>
            <!-----------------------HEADER-------------------------->
            <%- include("../partials/header") %>

            <header class="section-header">
                <img class="overlayImg" src="/images/brand/PapaHoe-TextOverlay.png" alt="">
                <img id="carrousel-image-1" src="/images/stock/guille-unsplash.jpg" alt="PapaHoe foto1">
            </header>

                <!-------------------------MAIN------------------------------->
                <main class="main-container">
                <section class="indexMain">
                    <h1>About</h1>

                    <p>Una tradición familiar desde 1956, <strong> Papa Hoe Surfboards </strong> ha
                        estado en el negocio de las tablas de surf por más tiempo que cualquier otro fabricante
                        australiano.
                        Surf Life Saving introdujo Racing Malibu's a los títulos australianos en carreras de paddle
                        board y competiciones de iron man en 1962 y con longboards, se incorporó a la producción de
                        tablas de surf de Papa Hoe.
                        Papa Hoe's siempre ha mantenido sus fuertes raíces en el entorno de Surf Life Saving.
                        Y durante los últimos 40 años, ha suministrado muchas tablas de paddle y tablas de rescate a
                        clubes locales y extranjeros.
                    <p>El nombre de Papa Hoe es muy valorado entre la fraternidad Surf Life Saving y se han ganado
                        muchos títulos australianos y mundiales con las tablas de Papa Hoe.
                        El amable personal de <strong> Papa Hoe Surfboards </strong> está decidido a ayudarlo a
                        encontrar el equipo adecuado. Ya se trate de tablas de surf, embarcaciones salvavidas de surf,
                        esquís o remos, podemos brindarle asesoramiento calificado para garantizar que obtenga lo mejor
                        de su compra.</p>
                    <p>Si no está en los bastidores, podemos encargarlo a su medida, así que entre y eche un vistazo.</p>
                    </p>
                </section>

                <hr>
                <section class="indexMain">
                    <h1>Team Riders</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, numquam dolore! Blanditiis nemo tempore deleniti magni! Modi excepturi saepe soluta, dicta quo provident facere temporlaudantium aspernatur nostrum, debitis earum.</p>
                    
                    <div class="team">
                        <div class="categorias-image">
                            <a href="#">Nats Roitman</a>
                            <img src="/images/usuarios/nats.jpg" alt="Nats Roitman">
                        </div>
                        <div class="categorias-image">
                            <a href="#">Alfre Buzzin</a>
                            <img src="/images/usuarios/alfre.jpg" alt="Alfre Buzzin">
                        </div>
                        <div class="categorias-image">
                            <a href="#">Natu Arakaki</a>
                            <img src="/images/usuarios/natu.jpg" alt="Natu Arakaki">
                        </div>
                        <div class="categorias-image">
                            <a href="#">Male Belaustegui</a>
                            <img src="/images/usuarios/male.jpg" alt="Male Belaustegui">
                        </div>
                    </div>    
                </section>
                    <div class="iframeContainer">
                        <iframe id="ytplayer" type="text/html" width="100%" height="750" src="https://www.youtube.com/embed/fY0s1PR2Zi0?autoplay=1&mute=1&start=60&controls=1&modestbranding=1" frameborder="0" allowfullscreen></iframe>
                    </div>     
            </main>

            <%- include("../partials/footer") %>

    </body>

</html>