<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head", {title: 'PapaHoe || Envios y Devoluciones'}) %>

    <body>
        <%- include("../partials/header") %>

            <header class="section-header">
                <img id="carrousel-image-1" src="/images/stock/guille-unsplash.jpg" alt="PapaHoe foto1">
            </header>

            <main class="blockText">
                <section class="main-container devoluciones">

                    <h1>El envío</h1>
                    <p>Debido a la situación de público conocimiento, estamos trabajando con un grupo reducido de
                        personal a
                        fin de mantener los cuidados necesarios. Por lo cuál los tiempos de entrega durante este período
                        podrán
                        verse afectados dada la demanda de compras y limitaciones en los procesos.</p>
                    <ul>
                        <li>Hacemos envíos a todo el país.</li>
                        <li>Los pedidos son despachados desde la central de Mar del Plata</li>
                        <li>Trabajamos únicamente con el servicio de Andreani puerta a puerta o sucursal</li>
                        <li>De momento no contamos con la modalidad de Retiro Inmediato.</li>
                        <li>El costo de envío se calcula en base a tu código postal, peso y volumen.</li>
                        <li>Nuestro plazo de entrega estimado es de 5 a 10 días hábiles luego de recibido el número de
                            seguimiento.</li>
                        <li>Durante los días de eventos (Hot sale y Cybermonday) varian los tiempos de entrega. Las
                            ordenes
                            compradas bajo la promoción estarán sujetas a demoras de 10 a 15 días hábiles</li>
                    </ul>

                    <h3>Politicas de cambios y devoluciones</h3>
                    <ul>
                        <li>Todos nuestros productos tienen cambio.</li>
                        <li>Los clientes tiene 30 DIAS desde que reciben el producto para realizar el cambio y/o
                            devolución.
                        </li>
                        <li>En caso de cambio por talle: Se puede realizar en cualquiera de nuestras sucursales
                            oficiales
                            con la bolsa y
                            la factura que le va a estar llegando junto al producto.</li>
                        <li>En caso de no poder realizar el cambio en la sucursal, el mismo puede realizarse por correo.
                        </li>
                        <li>Si la mercadería que se devuelve es por falla, el gasto de envío corre por parte de la
                            empresa.
                        </li>
                        <li>Si la mercaderia se devuelve por razones personales y se desea la cancelación de la compra
                            el
                            costo de envío
                            corre por parte del cliente.</li>
                        <li>Bajo ninguna circunstancia la devolución debe hacerse con la metodología ''a pagar en
                            remitente''.</li>
                        <li>Si el cliente desea la cancelación de la compra, por motivos personales, se le descontara en
                            la
                            devolución
                            los gastos de envíos ocasionados</li>
                        <li>Si la mercadería que se devuelve es por cambio, el gasto de envío correrá por parte del
                            cliente.
                            Este monto
                            se solicitara a través de Mercado Pago.</li>
                        <li>El cambio esta condicionado por la disponibilidad de stock.</li>
                        <li>Las prendas compradas durante acciones especificas de rebajas se tomaran al precio abonado.
                        </li>
                        <li>Las prendas compradas sin descuento aplicado (precio total) se cambian por otras prendas sin
                            descuento
                            aplicado (es decir a precio total).</li>
                    </ul>

                    <h3>Procedimiento de cambio y devolución</h3>
                    <ul>
                        <li>Para que el cliente pueda realizar el cambio o la devolución, debe contactarse por el
                            siguiente medio: <a href="/contacts">Contacto</a>
                            <ul>
                                <li>a) En el mail se debe detallar el motivo de la devolución y/o cambio.</li>
                                <li>b) En caso de fallas del producto, por favor adjuntar imágenes</li>
                            </ul>
                        </li>
                        <li>La mercadería debe ser enviada, indefectiblemente como se recibió, que se encuentren en
                            perfecto
                            estado de
                            conservación, con etiquetas, factura, ticket de cambio y bolsa.</li>
                        <li>El precio a tomar para los cambios será el monto que se acreditó en la compra, por lo que se
                            exigira la
                            factura de la misma.</li>
                        <li>Una vez procesada la devolución/cambio se enviara un mail al cliente con el nuevo nº de
                            guía,
                            donde podrá
                            verificar el estado de envío.</li>
                        <li>En caso de no proceder a ser tomada la devolución, ya sea porque no es una falla de
                            fabricación
                            o un error
                            en el envío del pedido, la mercadería será devuelta al cliente con Andreani a su cargo.</li>
                        <li>Bajo ningún concepto se recibirán devoluciones y/o cambios que no cumplan con los requisitos
                            anteriormente
                            detallados y todos los gastos que se ocasionen correrán por cuenta del cliente.</li>
                        <li>Todas las devoluciones y/o cambio de mercadería deberán ser realizadas dentro del mes de la
                            compra, si usted
                            no tiene ningún local cerca y procederá al cambio por correo le pedimos que se contacte por
                            mail
                        </li>
                    </ul>
                    </div>
                </section>
            </main>

            <%- include("../partials/footer") %>
    </body>

</html>