<!DOCTYPE html>
<html lang="en">
    <!-------------------------HEAD-------------------------->
    <%- include("../partials/head", {title: 'PapaHoe || FAQs'}) %>

    <body>
            <!-----------------------HEADER-------------------------->
            <%- include("../partials/header") %>

            <header class="section-header">
                <img id="carrousel-image-1" src="/images/stock/guille-unsplash.jpg" alt="PapaHoe foto1">
            </header>

                <!-------------------------MAIN------------------------------->
                <main class="main-container">
                <section class="indexMain">
                    <h1>FAQ's</h1>

                    <div class="faq-question">
                        <input id="q1" type="checkbox" class="panel">
                        <label for="q1" class="panel-title">
                            <strong> + </strong> There is an S1,S2, or S5 etc. after the board type on your online stocklist. What do these mean?
                        </label>
                        <div class="panel-content">
                            The S1 and S2 is an internal designation in our operating system to keep track of dimensions and fin systems. S1 denotes a specific combo of dims and the FCS fin system. S2 is the same dims, but with Future fins. Odd numbers denote FCS and even, Future.
                        </div>
                    </div>

                    <div class="faq-question">
                        <input id="q2" type="checkbox" class="panel">
                        <label for="q2" class="panel-title">
                            <strong> + </strong> Can I have 5 fin plugs placed on my custom board so I can ride it as a thruster or a quad?
                        </label>
                        <div class="panel-content">
                            Yes, the 5 fin set up is an option on all of our models when custom ordered.
                        </div>
                    </div>

                    <div class="faq-question">
                        <input id="q3" type="checkbox" class="panel">
                        <label for="q3" class="panel-title">
                            <strong> + </strong> What fins should I ride?
                        </label>
                        <div class="panel-content">
                            For optimal performance, look for the fins with the Channel Islands Hex logo. &nbsp;For riders 165 and under we recommend the Medium 4.5" template (*consider L if your tail width is wider than 14.5"); for riders 165 and over we recommend the Large 4.75" template (*consider M if your tail width is narrower than 14.5").
                        </div>
                    </div>

                    <div class="faq-question">
                        <input id="q4" type="checkbox" class="panel">
                        <label for="q4" class="panel-title">
                            <strong> + </strong> Can I get glassed on fins instead of fin systems on my custom order?
                        </label>
                        <div class="panel-content">
                            Yes, glass on fins are available on all of our models when custom ordered.
                        </div>
                    </div>

                    <div class="faq-question">
                        <input id="q5" type="checkbox" class="panel">
                        <label for="q5" class="panel-title">
                            <strong> + </strong> Can I order EPS or XTR epoxy custom boards?
                        </label>
                        <div class="panel-content">
                            We do offer EPS with Epoxy lamination, as well as recycled EPS/Bioresin combo, and we
                            also offer XTR through XTR direct\ only.
                        </div>
                    </div>

                    <div class="faq-question">
                        <input id="q6" type="checkbox" class="panel">
                        <label for="q6" class="panel-title">
                            <strong> + </strong> How should I care for my surfboard?
                        </label>
                        <div class="panel-content">
                        The short of it...Limit sun exposure when you are not in the water. &nbsp;Keep your board
                        covered when not in use and keep out of vehicles exposed to sun or heat (yes, it gets hot in the car even when the
                        sun is not out). ;If you board is damaged, allow it to dry out and fix immediately. &nbsp;Extreme heat
                        and/or water in the board may cause delamination, EPS/Epoxy boards are extra sensitive to heat exposure.
                        </div>
                    </div>

                    <div class="faq-question">
                        <input id="q7" type="checkbox" class="panel">
                        <label for="q7" class="panel-title">
                            <strong> + </strong> Do you offer any sort of environmentally friendly blank options?
                        </label>
                        <div class="panel-content">
                            Yes, Channel Islands has joined The ECOBOARD Project, so that surfers can now custom order the same high-performance surfboards they expect from Channel Islands – but that are now “verified” by nonprofit partner Sustainable Surf, to have much less of an environmental impact.
                        </div>
                    </div>

                    <div class="faq-question">
                        <input id="q8" type="checkbox" class="panel">
                        <label for="q8" class="panel-title">
                            <strong> + </strong> Do you have examples of different color patterns that I can have placed on my custom board?
                        </label>
                        <div class="panel-content">
                            We do have a examples of airbrush available on our online board builder which you can find.
                        </div>
                    </div>

                    <div class="faq-question">
                        <input id="q9" type="checkbox" class="panel">
                        <label for="q9" class="panel-title">
                            <strong> + </strong> Can I have a polished gloss finish applied to my custom board?
                        </label>
                        <div class="panel-content">
                            Yes, Polished Gloss is an option on all of our models when custom ordered.
                        </div>
                    </div>

                    <div class="faq-question">
                        <input id="q10" type="checkbox" class="panel">
                        <label for="q10" class="panel-title">
                            <strong> + </strong> Do you offer channel bottoms on custom orders?
                        </label>
                        <div class="panel-content">
                            Yes, 4 or 6 channels are options on most of our models when custom ordered.
                        </div>
                    </div>

                    <div class="faq-question">
                        <input id="q11" type="checkbox" class="panel">
                        <label for="q11" class="panel-title">
                            <strong> + </strong> I see those colored or black carbon strips added to the tails on your boards. Can I get those added to my custom board?
                        </label>
                        <div class="panel-content">
                            Yes, Tail hit patches are options (when not already included) on all of our models when custom ordered.
                        </div>
                    </div>

                    <div class="faq-question">
                        <input id="q12" type="checkbox" class="panel">
                        <label for="q12" class="panel-title">
                            <strong> + </strong> Can I have S-Cloth placed on my custom board?
                        </label>
                        <div class="panel-content">
                            Yes, S-Cloth is an option on all of our models when custom ordered.
                        </div>
                    </div>

                    <div class="faq-question">
                        <input id="q13" type="checkbox" class="panel">
                        <label for="q13" class="panel-title">
                            <strong> + </strong> Do you still make the Wizard Sleeve and other models that I can't find in my local surf shop?
                        </label>
                        <div class="panel-content">
                            Yes, the Wizard Sleeve, Deep Six and Black Flag edition models are available by custom order only as well as most of our discontinued models.
                        </div>
                    </div>

                    <div class="faq-question">
                        <input id="q14" type="checkbox" class="panel">
                        <label for="q14" class="panel-title">
                            <strong> + </strong> I did not anticipate my custom board taking this long, especially when board orders submitted the same day as mine are already being finished, while my order is still in the first stage. What could be the matter?
                        </label>
                        <div class="panel-content">
                            Custom board completion times vary depending on our seasonal production volume and some models and sizes can be finished sooner or later than others.
                        </div>
                    </div>

                    <div class="faq-question">
                        <input id="q15" type="checkbox" class="panel">
                        <label for="q15" class="panel-title">
                            <strong> + </strong> How can I apply for a job at <a href="/">Papa Hoe</a> ?
                        </label>
                        <div class="panel-content">
                            Thank you for your interest in <a href="/">Papa Hoe</a> . If you are interested in learning about what job opportunities may exist, please visit our Careers page. We only accept online applications as they allow us to be more productive and spend more time talking to candidates. Please complete our online application and attach your resume in either MS Word or PDF file attachments. We appreciate your interest in working with Papa Hoe Surfboards.
                        </div>
                    </div>

                    <div class="faq-question">
                        <input id="q16" type="checkbox" class="panel">
                        <label for="q16" class="panel-title">
                            <strong> + </strong> What does 'mill status' and 'mill date' mean?
                        </label>
                        <div class="panel-content">
                            "Mill Status" Production Completed means that your raw blank has been milled to the "computer shape" phase. The "Mill Date" of __-__-____ is when that took place.
                            Your milled blank is now waiting in line to be shaped. When the "Shape Status" is updated to Production Completed, your milled blank will have been shaped on the "Shape Date" that is listed.
                            Your shaped blank will then be off to glassing. When the "Glass Status" is updated to Production Completed, your board will be completed and finished. The "Glass Date" shows the date your board was finished.
                            When your custom board has been finished, we kindly ask that you contact the shop you ordered your board from to find out when it will arrive.
                        </div>
                    </div>
                </section>
            </main>

        <%- include("../partials/footer") %>
    </body>

</html>